@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Original+Surfer&family=Philosopher:wght@400;700&display=swap');

.ff_mons {
  font-family: 'Montserrat', sans-serif;
}

.ff_philo {
  font-family: 'Philosopher', sans-serif;
}

.ff_surfer {
  font-family: 'Original Surfer', cursive;
}

* {
  box-sizing: border-box !important;
  list-style-type: none !important;
  text-decoration: none !important;
}

:root {
  --fs-1x2l: 12px;
  --fs-1x6l: 16px;
  --fs-2xl: 20px;
  --fs-2x4l: 24px;
  --fs-3x2l: 32px;
  --fs-4x8l: 48px;
  --fs-8xl: 80px;
}

.fs_1x2l {
  font-size: var(--fs-1x2l);
}

.fs_1x6l {
  font-size: var(--fs-1x6l);
}

.fs_2xl {
  font-size: var(--fs-2xl);
}

.fs_2x4l {
  font-size: var(--fs-2x4l);
}

.fs_3x2l {
  font-size: var(--fs-3x2l);
}

.fs_4x8l {
  font-size: var(--fs-4x8l);
}

.fs_8xl {
  font-size: var(--fs-8xl);
}